.button-container {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 0;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.hidden {
  display: none;
}

p {
  font-size: 14px;
}