.page-wrapper {
  display: flex;
  background-color: #282c34;

  &.centered {
    justify-content: center;
    align-items: center;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 100%;
      max-width: 500px;
    }
  }

  &.fullpage {
    min-height: 100vh;
  }
}