button {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border: none;
  cursor: pointer;
  outline: none;

  &.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  &.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
}