.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app.dark {
  .app-header {
    background-color: #282c34;
    p {
      color: #fff;
    }
  }

  .page-wrapper {
    background-color: #282c34;
    color: #fff;
  }

  .theme-selector {
    border: 1px solid #fff;
  }

  .theme-selector button {
    background-color: #fff;
    color: #282c34;
  }
}

.app.light {
  .app-header {
    background-color: #fff;
    
    p {
      color: #282c34;
    }
  }

  .page-wrapper {
    background-color: #fff;
    color: #282c34;
  }

  .theme-selector {
    border: 1px solid #282c34;
  }

  .theme-selector button {
    background-color: #282c34;
    color: #fff;
  }
}

.theme-selector {
  position: fixed;
  padding: 10px;
  top: 20px;
  right: 20px;
  border-radius: 5px;

  button {
    margin: 0 5px;
    width: 75px;
  }
}


